.skills {
    position: relative;
    min-height:100vh;
    min-width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.myproject{
position: absolute;
top: 23%;
left: 60%;
font-size: 50px;
font-weight:700;

}


.skills-content{
    color: aqua;
    position: absolute;
    top: 90px; 
    font-size: 80px;
    left:35%;  
    font-weight: 700;
}

.codingskills {
   position: absolute;
   top: 25%;
    display: flex;
    flex-direction: column;
    gap: 70px;  
    font-weight: 600;
    font-size: 30px;
    width: 40%;
}

.codingtitle{
    font-weight:700;
    font-size: 35px;

}
.level{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.level li {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    position: relative;
   
}

.codinghtml {
    gap:5%;
    display: flex;
    justify-content: space-between;

}

.codingcss{
    gap:8%;
    display:flex;
    justify-content: space-between;
}

.codingjavascript{
    gap:8%;
    display:flex;
    justify-content: space-between;
}
.codingjava{
    gap:8%;
    display:flex;
    justify-content: space-between;
}
.codingc{
    gap:5%;
    display:flex;
    justify-content: space-between;
}

.skillimg{
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 12rem;
    height: auto;
    position: absolute;
    left: 74%;
    top: 34%;
}

.top,
.bottom{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    margin: 10px;
}

.pics {
    width:200px ;
    height: auto;
}

.records {
    width:600px;
    height: auto;
}
